{% extends "layout.html" %}
{% block content %}

{%if error %}
<br>
<div class="alert alert-warning" role="alert">
  {{error}}
</div>
{%endif%}
<br>
<br>
        <div class="row">
	        <div class="col-md-8">
		      	<div class="col-md-7" >
		          <div class="small-section">
		          	<div class="article-metadata">
		            	<h5 align="center">To Do</h5>
		        	</div>
		             <p>Click on Add Product Button to add more Products</p>
		          </div>
		        </div> 	         
	        </div>
	        <div class="col-md-4" >
	          <div class="small-section">
	          	<div class="article-metadata">
	            	<h3 align="center">Invoice</h3>
	            </div>
	              <legend> {{fruit}} </legend>
	              <p>
	                <label>Quantity</label>
	                <label> {{quantity}} </label>
	              </p>	              	              
	              <p>
	                <label>Amount</label>
	                <label> {{amount}} </label>
	                <FORM action=/account method='POST'>
	                	<button name="again"><B>Add Product</B></button>
	                </FORM>	               
	              </p>
	          </div>
	        </div>
        </div>
{% endblock content %}